@import "../../styles/colors.scss";

button {
    background: $primary;
    line-height: 60px;
    font-size: 16px;
    color: $white;
    border-radius: 8px;
    border: none;
    &:hover {
        opacity: 0.9;
    }
}

.login {
    // background-color: red;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;

    .form{
        display: flex;
        flex-direction: column;
        width:400px;
        align-self: center;
        background-color: $white;
        padding: 40px;
        border-radius: 8px;
        box-shadow: 0px 1px 3px -1px $black;

        h2 {
            color: $primary;
            text-align: center;
            font-size: 20px;
            text-transform: uppercase;
        }

        .submit {
            margin-top: 32px;
        }

        .link {
            text-align: center;
            color: $primary;
            text-transform: lowercase;
            margin-top: 16px;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }



        
    }
}